.consulting-hero {
    padding: 40px 80px;
    background-color: #fff;
    
}

.hero-top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.hero-image img {
    max-width: 1000px;
    border-radius: 5px;
}

.hero-title {
    flex: 1;
    text-align: left;
    min-width: 300px;
}

.hero-title h1 {
    font-size: 2.5rem;
    font-weight: 700;
    padding-left: 10%;
    margin-right: 20%;
}

.blue {
    color: #0072ff;
}

.hero-desc {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.6;
    margin-left: auto;
    text-align: left;
    margin-right: auto;
    color: #696969;
}

.discuss-btn {
    margin-top: 20px;
    background-color: #2f64b1;
    color: #fff;
    padding: 12px 30px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
    transition: background 0.3s ease;
}

.discuss-btn:hover {
    background-color: #174486;
}


.service-highlights {
    padding: 10px 20px;
    text-align: left !important;
    
}
.service-highlights h2,h3{
    text-align: center;
}

.service-highlights .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 30px;
}

.service-highlights p{
    color: #054fa9;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}

.detailed-services {
    padding: 5px 80px;
}
.detailed-services h2{
    font-weight: 650;
    font-size: 1.5rem;
}
.detailed-services ul {
    list-style: none;
    padding-left: 5;
}

.detailed-services li {
    margin-bottom: 1px;
}
.detailed-services li p{
    display: flex;
    gap:10px;
}
.detailed-services li p img{
    width: 40px;
    height: 40px;
}
.detailed-services li p .p-content{
    line-height: 1.7rem;
    color: #555;
}


.detailed-services h4 {
    font-size: 1.3rem;
    margin-bottom: 5px; }


/* Tools--------------*/
.uiux-tools-section {
    padding: 50px 20px;
    background-color: #fff;
    text-align: center;
}

.tools-heading h2 {
    font-size: 2rem;
    color: #0073ff;
    margin-bottom: 20px;
}

.tools-heading p {

    margin: 0 auto 40px;
    font-size: 1rem;
    line-height: 1.8;
    color: #555;
}

.tools-grid-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    align-items: center;
}

.tools-image img {
    width: 500px;
    max-width: 100%;
    border-radius: 4px;
    object-fit: cover;
    height: auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.tools-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 75px;
    max-width: 700px;
    width: 100%;
}

.tool {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.tool img {
    width: 50px;
    height: 50px;
}

.tool p {
    font-size: 1.4rem;
    font-weight: 700;
    color: #222;
    margin: 0;
}


@media (max-width: 768px) {
    .hero-top{
        gap:0px !important;
    }
    .hero-title h1 {
        font-size: 2.2rem !important;
        text-align: left;
        padding: 20px 0px !important;
        margin: 0 !important;
    }
        .consulting-hero {
            padding: 40px 20px !important;
        }
        .hero-image img {
            width: 330px;
            border-radius: 5px;
        }
        .detailed-services ul{
padding-left: 10px;
                }
    .service-highlights .subheading{
        display: none;
    }
    .hero-desc {
        font-size: 1rem;
        text-align: justify;
    }

    .discuss-btn 
    {
        display: block;
        margin: 20px auto;
        font-size: 1rem;
    }
        .detailed-services {
            padding: 5px 20px;
        }

        .tools-grid{
           
            grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
            align-items: center;
            width: 100%;
        }
}