
.tf-container {
    max-width: 1320px;
    margin: auto;

}

.relative {
    position: relative;
}

.center {
    text-align: center;
}


.breadcumb-section {
    padding: 157px 0 161px;
    background: url(../assets/AbotUsBg.jpg) center/cover fixed no-repeat;
    background-attachment: fixed;
    z-index: 1;
}

.breadcumb-section::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    background: linear-gradient(180deg, rgba(2, 6, 38, 0.85), rgba(2, 6, 38, 0.4));
}
.AboutUs-tf-container {
    position: relative;
    z-index: 2;
}

.title-inner h1 {
    font-size: 65px;
    z-index: 2;
    color: white;
    margin: 0 0 17px 0;
}

.title-group {
    display: flex;
    justify-content: center;
    gap: 44px;
}

.title-group a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}


/* About Us Grid */
.about-us-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    
}

@media (max-width: 992px) {
    .about-us-grid {
        grid-template-columns: (2,1fr);
    }
}
@media (max-width: 786px) {
    .about-us-grid {
        grid-template-columns: 1fr;
    }
}

.left-content{
    padding-left: -15px;
    padding-right: -15px;
}
.about-us-content{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 37px;
}

.about-us-content .sub-title{
    
            font-size: 18px;
            font-weight: 700;
            line-height: 24px;
            display: inline-block;
            margin-bottom: 17px;
        
}
.font-man {
    font-family: Manrope, sans-serif;
}
.texts-blue {
    color: rgb(53, 106, 180);
}
.about-us-content .title{
    font-size: 40px;
    line-height: 55px;
    font-family: Inter, sans-serif;
        text-rendering: optimizelegibility;
        letter-spacing: -0.03em;
        font-weight: 600;
        margin-top: 0;
}
.flex-three{
    display: flex;
    margin-bottom: 10px;
    list-style: none;
}
.flex-three .icon-Check{
    color: rgb(53, 106, 180);
    margin-right: 10px;
    font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
}
.flex-three .icon-Check svg{
    font-weight: 700;
    font-size: 1.2rem;
}
.flex-three p{
    margin: 0;
    font-size: 18px;
        font-weight: 600;
        line-height: 30px;
            color: rgb(105, 105, 105);
}
.about-us-content .icon-listing{
        margin: 0 0 45px 0;
        padding-left: 0 ;
        line-height: 1;
        font-family: 'icomoon' !important;
        list-style: none;
}
.button-src{
    background-color: rgb(53, 106, 180);
        color: rgb(255, 255, 255);
        display: inline-block;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        text-transform: capitalize;
        position: relative;
        z-index: 1;
        width: max-content;
        border-radius: 12px;
        padding: 18px 40px;
        transition: 0.3s ease-in-out;
        text-decoration: none;
}

.about-us-images{
    padding-left: 15px;
    padding-right: 15px;
}
.about-us-images img {
    width: 100%;
    height: auto;
}

.about-us-counter{
    padding-left: 3em;
    padding-right: 15px;
    padding-top: 3em;
}

.about-us-counter h3{
    margin: 0 0 13px 0;
    font-family: Inter, sans-serif;
        text-rendering: optimizelegibility;
        letter-spacing: -0.03em;
        color: #222222;
        font-weight: 600;
    text-align: left;
        font-size: 22px;
            line-height: 30px;
}
.about-us-counter h3 a{
    color: rgb(53, 106, 180);
    text-decoration: none;
}
.about-us-counter p{
    font-family: Manrope, sans-serif;
        line-height: 30px;
        color: rgb(105, 105, 105);
}
.about-us-counter .line{
        width: 100%;
            height: 1px;
            background-color: rgba(2, 1, 1, 0.1);
            margin-top: 61px;
            margin-bottom: 70px;
}
.flex-one{
    justify-content: space-between;
        display: flex;
}

.counter-style1 .number-counter{
display: inline-block;
    font-size: 48px;
    font-weight: 600;
    line-height: 55px;
    letter-spacing: 2px;
}
.counter-style1 .icon .icon-costumer-11{
    height: 45px;
}
.counter-style1 .icon svg{
    font-size: 45px;
    color: rgb(53, 106, 180);;
}
.counter-style1 p{
    margin: 0;
}

/* Feature Grid */
.feature-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* gap: 30px; */
}
.tf-icon-box{
    position: relative;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(2, 6, 38, 0.1);
        border-image: initial;
        /* padding: 50px 30px; */
        padding: 60px 104px 50px 104px;
        overflow: hidden;
}
.tf-icon-box::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #f6f2ed;
    bottom: -100%;
    transition: all 0.3s ease-in-out;
    z-index: 1;
}
.tf-icon-box .icon{
    font-size: 55px;
    color: rgb(53, 106, 180);
    z-index: 2;
    position: relative;
    margin-bottom: 35px;
}
.tf-icon-box:hover::before {
    bottom: 0;
}
.tf-icon-box .title{
    font-size: 24px;
        line-height: 30px;
        margin-bottom: 12px;
        margin-top: 0px;
        z-index: 2;
        position: relative;
}
.tf-icon-box .title a{
        color: rgb(34, 34, 34);
            text-decoration: none;
            transition: 0.3s;
            cursor: pointer;
}
.tf-icon-box .des{
    z-index: 2;
    position: relative;
    font-family: Manrope, sans-serif;
        line-height: 30px;
        color: rgb(105, 105, 105);
}

@media (max-width: 992px) {
    .feature-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .feature-grid {
        grid-template-columns: 1fr;
    }
}

/*quote section*/
.pd-section {
    padding-top: 130px;
    padding-bottom: 130px;
}

.quote-container {
    display: flex;
    align-items: center;
    /* gap: 10px; */
    flex-wrap: wrap;
}

.quote-image{
    padding-right: 15px;
    padding-left: 15px;
}

.quote-image img {
    max-width: 400px;
    width: 100%;
    object-fit: cover;
    height: auto;
}

.quote-content {
    flex: 1;
    padding: 2.2em 3.5em 0 5.5em;
}

.quote-text {
    font-size: 30px;
        font-weight: 600;
        line-height: 40px;
        color: #222222;
        letter-spacing: -0.5px;
        margin-bottom: 17px;
        margin-top: 0;
}

.quote-author {
    display: block;
    font-size: 22px;
    font-weight: 600;
}

.quote-bottom {
    border-top: 1px solid rgba(51, 51, 51, 0.1);
    margin-top: 30px;
    padding-top: 50px;
    display: flex;
    align-items: center;
    /* gap: 20px; */
}

.avatar-list {
    margin-right: 20px;
    margin-left: 0px;
    display: flex;
    align-items: center;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.avatar-list li {
    margin-left: -10px;
}

.avatar-list li:first-child {
    margin-left: 0;
}

.avatar-list img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.trusted-text{
    margin-top: 5px;
}

.trusted-text p {
    font-family: "Manrope", sans-serif;
        line-height: 30px;
        color: #696969;
        margin: 0;
}

.underline-shape {
    background-color: #356ab4;
    margin-top: -5px;
    width: 100px;
    height: 2px;
    
}

/*Funfact css*/

.funfacts-section {
    background-color: #05082f;
    padding: 120px 0 130px;
    color: #fff;
}

.fact-widget {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 0 15px;
    position: relative;
    z-index: 2;
}
.funfacts-subtitle {
    font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        display: inline-block;
        margin-bottom: 17px;
}
@media only screen and (max-width: 991px) {
    .fact-widget{
        flex-direction: column;
        text-align: center;
    }
    .funfacts-counters{
        flex-direction: column;
    }
    .counter-item{
        padding-left: 0px !important;
    }
}
.funfacts-title {
    font-size: 40px;
    line-height: 55px;
    margin: 0;
    font-family: "Inter", sans-serif;
        text-rendering: optimizeLegibility;
        letter-spacing: -0.03em;
        font-weight: 600;
}

.funfacts-counters {
    display: flex;
    gap: 42px;
    /* flex-wrap: wrap; */
}

.counter-item {
    padding-left: 80px;
    padding-top: 15px;
    
}

.counter-icon {
    font-size: 62px;
    color: #d2a98e;
    margin-bottom: 34px;
}

.counter-content h3 {
        font-size: 65px;
            font-weight: 600;
            line-height: 65px;
            color: #ffffff;
            margin: 0;
}

.counter-content p {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 0;
}

/* Responsive */
@media (max-width: 992px) {
    .funfacts-container {
        flex-direction: column;
        text-align: center;
    }

    .funfacts-counters {
        justify-content: center;
        gap: 50px;
    }
}

/*video section*/
.video-about-us {
    background-color: #020626;
    margin-bottom: 20.7em;
}
.video-container{
    max-width: 1320px;
        width: 100%;
        margin: auto;
        padding-left: 15px;
        padding-right: 15px;
}
.video-row{
margin-right: -15px;
    margin-left: -15px;
    --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-1 * var(--bs-gutter-y));
}
.video-row>* {
    padding-right: 15px;
    padding-left: 15px;
}
@media (min-width: 992px) {
    .col-lg-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}
@media only screen and (max-width: 1320px) {
    .video-about-us .video-about {
        margin-right: 0%;
        margin-top: 0px;
    }
}
.video-about {
        margin-bottom: -20.7em;
        position: relative;
        margin-right: -100px;
}
@media (max-width: 768px){
    .video-about{
        margin-right: 30px !important;
    }
}
.video-image {
width: 100%;
    height: auto;
   
}
.btn-video {
    top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
}

.play-button {
    width: 100px;
        height: 100px;
        background-color: #ffffff;
        color: #356ab4;
        display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            border: none;
            transition: all 0.3s ease;
            animation: pulse_two 2s infinite;
}

@keyframes pulse_two {
    0% {
            -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, .7);
            box-shadow: 0 0 0 0 rgba(255, 255, 255, .7);
        }
    
        70% {
            -moz-box-shadow: 0 0 0 30px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 30px rgba(255, 255, 255, 0);
        }
    
        100% {
            -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
        }
}

.play-button:hover {
    transform: translate(-50%, -50%) scale(1.1);
    background-color: #f1f1f1;
}

/*Testimonials*/

.testimonial-video {
    padding-top: 120px;
    padding-bottom: 130px;
    background: #fff;
}

.testimonial-heading-title {
    text-align: center;
    margin-bottom: 50px;
}

.testimonial-heading-title .testimonial-sub-title {
    font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        display: inline-block;
        margin-bottom: 17px;
        color: #356ab4;
}

.testimonial-heading-title .testimonial-title {
    font-size: 40px;
        line-height: 55px;
        font-family: "Inter", sans-serif;
            text-rendering: optimizeLegibility;
            letter-spacing: -0.03em;
            font-weight: 600;
            margin: 0;
}

.testimonial-heading-title .testimonial-title span {
    color: #356ab4;
}

/* Card Layout */
.about-testimonial-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1320px;
    margin: 0 auto;
}

/* Left Side Image with Ring Effect */
.about-testimonial-image {
    position: relative;
    padding:0 70px 0 100px;
}

.about-testimonial-image img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    z-index: 2;
}

.about-testimonial-image::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 50px;
    width: 250px;
    height: 250px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    z-index: 1;
}

/* Right Side Content */
.about-testimonial-content {
    flex: 1;
    
}

.about-testimonial-text {
    font-size: 28px;
    line-height: 36px;
    font-weight: 500;
    color: #222222;
    padding-right: 80px;
}

.about-testimonial-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #eee;
    padding-top: 15px;
}

.about-testimonial-name {
    font-size: 22px;
    font-weight: 600;
    color: #18185e;
    display: flex;
    align-items: center;
    gap: 10px;
}

.about-testimonial-name::before {
    content: "“";
    font-size: 32px;
    color: #356ab4;
    font-weight: 700;
}
.about-testimonial-role{
    font-size: 14px;
    font-weight: 100;

}

.about-testimonial-stars {
    color: #f7c948;
    font-size: 18px;
}

.testimonial-slider-wrapper {
    position: relative;
    overflow: hidden;
    min-height: 400px;
}

.testimonial-slide {
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
    transform: translateX(100%);
    transition: transform 0.8s ease, opacity 0.8s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 0;
}

.testimonial-slide.active {
    opacity: 1;
    transform: translateX(0%);
    z-index: 2;
}

.testimonial-slide.prev {
    opacity: 0;
    transform: translateX(-100%);
    z-index: 0;
}

.testimonial-slide.next {
    opacity: 1;
    transform: translateX(100%);
    z-index: 1;
}

.testimonial-slide.inactive {
    opacity: 0;
    transform: translateX(200%);
    z-index: 0;
}

/* Pagination Dots */
.testimonial-pagination {
    text-align: center;
    margin-top: 30px;
}

.testimonial-pagination .dot {
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: #356ab4;
    opacity: 0.4;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.testimonial-pagination .dot.active {
    opacity: 1;
}

/* Responsive Fix */
@media (max-width: 768px) {
    .about-testimonial-card {
        flex-direction: column;
        text-align: center;
        padding: 60px 0px;
    }
    .testimonial-slider-wrapper{
        min-height: 600px;
    }
    .about-testimonial-image {
        padding: 0;
        margin-bottom: 20px;
    }

    .about-testimonial-text {
        padding:0 10px;
    }
    .about-testimonial-name{
        margin: 0;
    }
    .about-testimonial-bottom {
        flex-direction: column;
        gap: 10px;
    }
}

/*partner*/

.partners-section {
    background-color: #f7f8fd;;
    padding-top: 122px;
        padding-bottom: 130px;
    text-align: center;
}

.partners-container {
    max-width: 1200px;
    margin: 0 auto;
}
.partners-heading{
        margin-bottom: 60px;
}
.partners-heading .sub-title {
    font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        display: inline-block;
        margin-bottom: 17px;
        color: #356ab4;
        font-family: "Manrope", sans-serif;
}

.partners-heading h2 {
        font-size: 40px;
        color: #222222;
            line-height: 55px;
            margin: 0;
            font-family: "Inter", sans-serif;
                text-rendering: optimizeLegibility;
                letter-spacing: -0.03em;
                font-weight: 600;
}

.partners-heading .highlight {
        color: #356ab4;
}

.partners-swiper {
    margin-bottom: 10px;
    padding-bottom: 0px;  
}

.about-partner-card {
    background: #fff;
    padding: 20px;
    height: 110px;
    display: flex;
    margin-right: -20px !important;
    align-items: center;
    justify-content: center;
}

.about-partner-card img {
    height: 40px;
    width: auto;
}

@media only screen and (max-width: 768px) {
    .partners-swiper {
            margin-bottom: 0px;
            padding-bottom: 0px;
            justify-content: space-between !important;
        }
    .breadcumb-section{
        padding-top: 90px !important;
        padding-bottom: 90px !important;
    }
        .about-partner-card{
            height: auto;
            width:80px;
        }
        .swiper{
            margin-top:0px;
        }
    .pd-section{
        padding-top: 80px;
        padding-bottom: 80px;
    }
        .about-us-content .title{
        font-size: 36px;
        line-height: 45px;
        }
        .about-us-content{
            padding-bottom: 30px;
        }
        .about-us-counter{
            padding-top: 30px;
            padding-left: 15px;
            padding-right: 15px;
        }
        .about-us-counter p{
            margin-bottom: 0;
        }
        .about-us-counter .line{
            margin-top: 30px;
            margin-bottom: 35px;
        }
        .tf-icon-box{
            border: 1px solid rgba(2, 6, 38, 0.1);
            padding: 50px 30px 50px 30px;
            position: relative;
            overflow: hidden;
        }
        .quote-content{
            padding-top: 2em;
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 0;
        }
        .quote-text{
            font-size: 22px;
            line-height: 38px;
        }
        .quote-author{
            font-size: 18px;
            margin-right: 30px;
        }
        .funfacts-section{
            padding-top: 80px;
            padding-bottom: 80px;
        }
                .funfacts-title {
                    font-size: 36px;
                    line-height: 45px;
                }
        
                .counter-content h3 {
                    font-size: 32px;
                }
        
                .counter-icon {
                    font-size: 35px;
                }
                .video-about-us{
                    margin-bottom: 150px;
                }
                .testimonial-video {
                    padding-top: 80px;
                    padding-bottom: 0px;
                }
                .testimonial-heading-title{
                    margin: 0;
                    padding: 0 15px;
                }
                .about-testimonial-card{
                    flex-direction: column;
                    gap:0;
                    justify-content:center !important;
                }
                .about-testimonial-image img{
                    width: 130PX;
                    height: 130PX;
                }
                .about-testimonial-image::before{
                    width: 130px;
                    height: 130px;
                }
                .about-testimonial-text{
                    font-size: 20px;
                        line-height: 32px;
                        margin-bottom: 25px;
                        padding-bottom: 20px;
                }
                .about-testimonial-bottom{
                    justify-content: space-between;
                        align-items: center;
                        display: flex;
                }
                .about-testimonial-name{
                    font-size: 18px;
                    
                }
                .swiper-pagination-bullets.swiper-pagination-horizontal{
                    display: none;
                }
}