.breadcumb-section {
    padding: 157px 0 161px;
    background: url(../assets/AbotUsBg.jpg) center/cover fixed no-repeat;
    background-attachment: fixed;
    z-index: 1;
}

.breadcumb-section::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    background: linear-gradient(180deg, rgba(2, 6, 38, 0.85), rgba(2, 6, 38, 0.4));
}

.ContactUs-tf-container {
    position: relative;
    z-index: 2;
}

.title-inner h1 {
    font-size: 65px;
    z-index: 2;
    color: white;
    margin: 0 0 17px 0;
}

.title-group {
    display: flex;
    justify-content: center;
    gap: 44px;
}

.title-group a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

/* contact section*/
.contact-us-section {
    background: #fff;
    padding: 130px 15px;
}

.contact-container {
    max-width: 1320px;
    margin: auto;
    display: flex;
    width: 100%;
    /* padding: 0 15px; */
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-left {
    flex: 1;
    margin-top: 10px;
    margin-right: 5em;
}

.contact-heading .sub-title {
    font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        display: inline-block;
        margin-bottom: 17px;
        color: #356ab4;
}
.contact-heading{
    margin-bottom: 34px;
}
.contact-heading h2 {
        font-size: 40px;
            line-height: 55px;
            margin: 0;
            letter-spacing: -0.03em;
                font-weight: 600;
}

.contact-heading p {
    line-height: 30px;
        color: #696969;
    margin-top: 29px;
    margin-bottom: 0;
}
.contact-items-wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.about-contact-item {
    width: 50%;
    margin-top: 0;
    display: flex;
    margin-bottom: 54px;
    gap: 25px;
}

.about-contact-item .icon {
    color: #356ab4;
    font-size: 33px;
    margin-top: 5px;
    margin-right: 0;
}

.about-contact-item h4 {
    margin-bottom: 7px;
    font-size: 20px;
    line-height: 30px;
    margin-top: 0;
}
.about-contact-item .content p{
        font-family: "Manrope", sans-serif;
        line-height: 30px;
        color: #696969;
        margin: 0;
}
.social-links {
    display: flex;
    gap: 10px;
}

.social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    color: #000;
    font-size: 14px;
    transition: 0.3s;
}

.social-links a:hover {
    background: #0d6efd;
    color: #fff;
}

.contact-image {
    margin-top: 20px;
    width: 100%;
}

.contact-right {
    flex: 1;
    min-width: 300px;
    background: #f7f3ee;
    padding: 45px 60px 50px 60px;
    border-radius: 6px;
}

.contact-right h3 {
    margin-top: 0;
    font-size: 27px;
        font-weight: 600;
        margin-bottom: 27px;
        line-height: 30px;
        text-align: left;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    font-size: 16px;
        font-weight: 600;
        line-height: 16px;
        color: #222222;
        font-family: "Manrope", sans-serif;
    margin-bottom: 15px;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 18px;
    border-radius: 5px;
        box-shadow: none;
            border: 1px solid transparent;
            line-height: 18px;
            font-size: 16px;
            font-weight: 400;
            padding: 23px 25px;
            background-color: #ffffff;
            color: #696969;
}

.contact-form textarea {
    resize: none;
}

.contact-form button {
    transition: 0.3s;
    font-family: "Inter", sans-serif;
        border: unset;
        border-radius: 12px;
        padding: 14px 10px;
        font-size: 16px;
        font-weight: 700;
        line-height: 26px;
        text-transform: capitalize;
        color: #ffffff;
        background-color: #356ab4;
        width: 40%;
}

.contact-form button:hover {
    background: #cca78f;
}

@media only screen and (max-width: 768px){
        .contact-us-section {
                padding-top: 80px !important;
                padding-bottom: 80px !important;
            }
            .contact-container {
        flex-direction: column;
        gap:50px;
    }
            .contact-items-wrapper {
                flex-direction: column;
                
            }
          .about-contact-item{
            width: 100%;
            margin-bottom: 30px;
          }
        .contact-left{
            margin-right: 0;
        }
        .contact-right{
            min-width: 0;
            padding: 45px 20px 30px 20px;
        }
        .contact-form button{
            width: 70%;
        }
}