.enquiry-section {
    width: 100%;
    background-color: #050f2c;
}
.enquiry-tf-container{
max-width: 1320px;
    width: 100%;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.enquiry-container {
    display: flex;
    justify-content: space-between;
    padding: 60px 0px;
    background: #050f2c;
    flex-wrap: wrap;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../assets/bg-contact-h1.png");
    padding:130px 0;
    
}

.enquiry-left {
    flex: 1;
    padding: 0 15px;
    color: white;
    min-width: 300px;
}
.enquiry-content{
    margin-right: 25%;
}
.inquiry-label {
    color: #3273dc;
    font-size: 18px;
    font-weight: 700;
}

.enquiry-left h2 {
    
    margin: 0;
    font-size: 40px;
    line-height: 55px;
}

.enquiry-left h2 span {
    color: white;
}

.enquiry-description {
    color: #fff;
    font-size: 16px;
    font-family: "Manrope", sans-serif;
    line-height: 30px;
}

.contact-block {
    display: flex;
    flex-direction: column;

}

.contact-item {
    display: flex;
    margin-top: 20px;
    align-items: flex-start;
    gap: 15px;
}
.contact-item p{
    margin: 0;
    padding: 0;
    font-size: 27px;
    font-weight: 600;
    color: #ffffff;
}

.contact-item .icon {
    font-size: 35px;
    color: #d2a98e;
    margin-right: 30px;
}

.label {
   
    line-height: 16px;
    display: block;
    color: #d2a98e;
}

.value {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

/* Right Side Form */
.enquiry-right {
    flex: 1;
    padding: 0 15px;
    min-width: 340px;
    display: flex;
    justify-content: center;
}

.form-card {
    background: #f4ede7;
    padding: 56px 50px 60px 50px;
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
    
}

.form-card h3 {
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 10px;
}

.form-card .subtitle {
    text-align: center;
    font-family: "Manrope", sans-serif;
    line-height: 30px;
    color: #696969;
}

.enquiry-form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.form-row {
    display: flex;
    gap: 12px;
}

.form-row input {
    flex: 1;
}

.enquiry-form input,
.enquiry-form select,
.enquiry-form textarea {
    padding: 18px 40px 18px 20px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    outline: none;
    color: #878080;
}

.enquiry-form select {
    background: white;
    
}
.enquiry-button{
    justify-content: center;
    display: flex;
}

.enquiry-form button {
    font-family: "Inter", sans-serif;
        border: unset;
        border-radius: 12px;
        padding: 14px 40px;
        font-size: 16px;
        font-weight: 700;
        line-height: 26px;
        text-transform: capitalize;
        color: #ffffff;
        background-color: #356ab4;
    cursor: pointer;
    transition: 0.3s ease;
}

.enquiry-form button:hover {
    background-color: #d2a98e;
}

@media (max-width: 768px) {
    .enquiry-section{
        padding: 80px 0;
    }
    .enquiry-container {
        flex-direction: column;
        padding: 0px 0px;
        gap:40px;
    }
        .enquiry-tf-container{
  width: auto;
        }

        .enquiry-left{
            margin-left: 0;
            padding-left: 0;
            width: 100%;
        }
        .enquiry-right{
            /* width: 100%; */
            min-width: 0;
        }
        .enquiry-content{
            margin-right: 0;
        }
        .enquiry-description{
            margin-right: 30px;
            width:310px;
        }
    .enquiry-left h2 {
        font-size: 36px;
        line-height: 45px;
    }
        .contact-item {
            gap:0px
        }
    .form-card{
                background: #f4ede7;
                border-radius: 5px;
                max-width: 500px;
        padding: 1px 10px;
    }
        .enquiry-button{
            padding-bottom: 20px;
        }
        .enquiry-form button{
            width: 80%;
        }
    .form-row {
        flex-direction: column;
    }
}