.section-marque-text {
    background-color: #356ab4;
    padding: 60px 0px 0 60px;
    overflow: hidden;
    margin-top: -4px;
    color: #fff;
}

.marquee-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.marquee-inner {
    display: flex;
    animation: marquee 30s linear infinite;
}

.marqee-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-shrink: 0;
}

.marquee-item {
    display: flex;
    gap: 30px;
    font-size: 35px;
    font-weight: 700;
    text-transform: capitalize;
    white-space: nowrap;
    flex-shrink: 0;
    margin-bottom: 50px;
}

.marquee-item span:hover {
    text-decoration: underline;
    color: #d2a98e;
}

.icon-asterisk::before {
    content: "*";
    margin: 0 0px;
    color: #ffda9e;
}

/* Smooth looping */
@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* Responsive */
@media (max-width: 576px) {
    .section-marque-text {
        padding: 80px 10px 30px 10px;
    }

    .marquee-item {
        font-size: 35px;
        gap: 20px;
    }
}