@keyframes fadeInUpSmall {
    0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

/* Initial hidden state */
.fade-in-up {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
}

/* Active state */
.fade-in-up.show {
    animation: fadeInUpSmall 1s ease-out forwards;
}
