.navbar {
    background-color: #f7f3ef;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    position: sticky;
    top:0;
    z-index: 100;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    
}

.navbar-left {
    margin-left: 50px;
}

.logo {
    height: 70px;
}

.navbar-right {
    margin-right: 200px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.navbar-right a,
.dropdown-link {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 19px;
    cursor: pointer;
    position: relative;
}

.navbar-right a:hover,
.dropdown-link:hover {
    color: #2f64b1;
}

/* === DROPDOWN MENU STYLES === */
.dropdown-container {
    position: relative;
    
}
.dropdown-container:hover{
transition: all 0.3s ease;
opacity: 1;
visibility: visible;
}


.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    transform: translateX(-70%);
    background-color: #1c1c1cec;
    color: white;
    padding: 20px 40px;
    border-radius: 6px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    z-index: 999;
    width: 1000px;
    max-width: 50vw;
    justify-content: space-between;
    gap: 50px;
    /* animation: fadeIn 0.5s ease-in-out; */
}

.dropdown-container:hover .dropdown-menu {
    display: flex;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* === Dropdown Columns === */
.dropdown-column {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    flex: 1;
}

.dropdown-column h4 {
    margin-bottom: 5px;
    font-weight: 600;
    color: white;
}

.dropdown-column hr {
    margin: 0 0 10px 0;
    border: 0.5px solid gray;
}

/* Style for Links inside Dropdown */
.dropdown-column a {
    margin: 6px 0;
    font-size: 14px;
    color: white;
    text-decoration: none;
    transition: color 0.2s ease;
}

.dropdown-column a:hover {
    color: #4da1f0; }


        /* === HAMBURGER ICON === */
        .hamburger {
            display: none;
            cursor: pointer;
            z-index: 1001;
            color: black;
        }
        .mobile-menu-logo {
            display: none;
          }
    
    /* === MOBILE SLIDE-IN MENU === */
@media (max-width: 768px) {
                    .navbar {
                        flex-wrap: wrap;
                        padding: 30px 20px;
                        position: relative;
                    }
        
                    .navbar-left {
                        margin-left: 0;
                    }
                    
                    .navbar-right {
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 20px;
                        position: fixed;
                        top: 0;
                        left: 0;
                        height: 100vh;
                        width: 250px;
                        background-color: #f7f3ef;
                        padding:  20px 20px;
                        transform: translateX(-100%);
                        transition: transform 0.3s ease-in-out;
                        z-index: 999;
                        box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
                    }
        
                    .navbar-right.open {
                        transform: translateX(0);
                        /* slide in */
                    }
        
                    .dropdown-menu {
                        position: static;
                        transform: none;
                        width: 90%;
                        max-width: 100%;
                        box-shadow: none;
                        flex-direction: column;
                        gap: 0px;
                        background-color: #186da0;
                        margin-top: 0px;
                        max-height: 50vh;
                            overflow-y: auto;
                            padding-right: 7px;
                            scrollbar-width: thin
                    }
                    .dropdown-column h4 {
                        font-size: 16px;
                        font-weight: 1000;
                        color: #fff;
                    }
        
                    .dropdown-column a {
                       font-weight: 400;
                        color: #fff;
                    }
        
                    .hamburger {
                        display: block;
                        position: absolute;
                        right: 20px;
                        top: 50px;
                        z-index: 1000;
                        color: black;
                    }
                    .hamburger svg{
                        color: #084f7b;
                    
                    }
                    .mobile-menu-logo {
                        width: 100%;
                        display: block;
                        
                        
                      }
                    
                      .mobile-menu-logo img {
                        height: 60px;
                        
                
                      }
                      /* .navbar-left {
                        display: none; 
                      } */
                }
