
.admin-container {
    display: flex;
    height: 100vh;
    position: relative;
}

.sidebar {
    width: 220px;
    background-color: #f7f3ef;
    color: #222222;
    padding: 20px;
    display: flex;
    flex-direction: column;
    z-index: 90;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.sidebar a {
    color: #222222;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
    padding: 15px 5px;
    font-weight: 600;
    border-radius: 10px;
    font-size: 20px;
}

.sidebar a svg {
    font-size: 25px;
}

.sidebar a:hover {
    background-color: #356ab4;
    color: #ffffff;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.user-icon {
    font-size: 24px;
    color: #333;
}

.username {
    font-size: 18px;
    color: #222;
}

@media (max-width: 768px) {
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 1000;
        transform: translateX(-100%);
    }

    .sidebar.open {
        transform: translateX(0);
        
    }
}


.admin-hamburger {
    display: none;
    top: 30px;
    right: 24px;
    font-size: 28px;
    background: none;
    border: none;
    cursor: pointer;
    margin: 10px;
    position: absolute;
    z-index: 100;
}

@media (max-width: 768px) {
    .admin-hamburger {
        display: block;
    }
}

.admin-content {
    flex: 1;
    padding: 20px;
    background: #f4f4f4;
}